{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://sectors",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "1.16.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Sectors": [
        {
          "id": "sector01",
          "name": "sector01",
          "maxUserNo": 16,
          "entries": [
            "map://1_Forest",
            "map://2_Desert",
            "map://3_Pirate",
            "map://4_Factory",
            "map://5_AmusementPark",
            "map://BattleMap",
            "map://DobbyRoom",
            "map://LimitLandMap",
            "map://MonsterMap",
            "map://RaidMap",
            "map://RandomBossMap",
            "map://skillTestMap",
            "map://Town",
            "map://Town_Edit",
            "map://Town_Prev",
            "map://MultiBattleMap"
          ]
        }
      ],
      "AllowOverMaxEntryCountPerSector": false,
      "config_id": "config://sectors"
    }
  }
}